img {
    padding-bottom: 15px;
}
.bericht {
    padding-top: 15px;
    padding-bottom: 15px;
}
.form-control {
    width: 400px;
}
.copyright {
    color: rgb(155, 155, 155);
}
body {
    background-color: rgb(230, 230, 230);
}
.footer {
    height: 200px;
    color: rgb(155, 155, 155);
}